.container {
    margin: 0 auto;
    border: 1px solid grey;
    max-width: 600px;
}

.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.card{
    margin: 20px;
    width: 80px;
    height: 120px;
    border: 1px solid black;
}

.cardUpsideDown {
    background-color: grey;
}

.cardUpsideDown p {
    display: none;
}

.cardRightWay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgray;
}

.cardRightWay p {
    color: black;
    display: block;
}