.container {
    margin: 0 auto;
    border: 1px solid grey;
    max-width: 600px;
}

.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.cardUpsideDown {
    text-align: center;
    background-color: grey;
    color: grey;
    margin: 20px;
    width: 80px;
    height: 120px;
    border: 1px solid black;
}

.cardRightWay{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    color: black;
    margin: 20px;
    width: 80px;
    height: 120px;
    border: 1px solid black;
}
