.container {
    border: 1px solid grey;
}

.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.cardUpsideDown {
    text-align: center;
    background-color: grey;
    margin: 20px;
    width: 80px;
    height: 120px;
    border: 1px solid black;
}